<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ConnString" connectionString="Data Source=NTGANDHIDB2;Initial Catalog=ValesDesarrollo;Persist Security Info=True;User ID=interfase;Password=G1nt3rf4s3;Application Name=CRPlasticoWeb" providerName="System.Data.SqlClient" />
    <add name="ConnString2" connectionString="Data Source=NTGANDHIDB2;Initial Catalog=GandhiDesarrollo;Persist Security Info=True;User ID=interfase;Password=G1nt3rf4s3;Application Name=CRPlasticoWeb" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <webServices>
      <protocols>
        <add name="HttpSoap12" />
        <add name="HttpSoap" />
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
</configuration>
<!--ProjectGuid: 0F7FDDB5-A134-4F76-BE9F-381D8D1C2FEF-->